.btn {
    width: 241px;
    background-color: $main-color;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 23px 42px 21px 42px;
    border-radius: 6px;
    border: none;
}