.title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 900;
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    &_wh {
        color: #ffffff;
    }
    &_bl {
        color: #393939;
    }
}