@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

* {
    font-family: 'Roboto';
};

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "base/variables";
@import "base/button";
@import "blocks/header";
@import "blocks/first";
@import "blocks/media";
