@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
};

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "base/variables";
@import "base/button";
@import "base/title";
@import "blocks/animation";
@import "blocks/header";
@import "blocks/first";
@import "blocks/second";
@import "blocks/third";
@import "blocks/fourth";
@import "blocks/fifth";
@import "blocks/media";
